{% extends "laptop/base.html" %}

{% block title %}{{ title_text }}{% endblock title %}

{% block header %}{{ title_text }}{% endblock header %}

{% block body %}  
<div class="container-fluid bg-body-tertiary rounded my-3 py-3">    
    <a class="btn btn-lg btn-primary" href="{% url 'owner_tmts_list' %}" role="button">Вернуться к списку записей &raquo;</a>
</div>

<div class="container-fluid bg-body-tertiary rounded my-3 py-3">
    {% include 'laptop/messages.html' %}
    
    <table class="table table-striped table-bordered text-start">
        <thead>
            <tr>
                {% comment %} <th>№</th> {% endcomment %}
                <th>Юридическое лицо</th>
                <th>Действия над записями</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% comment %} <td>{{ data.id }}</td> {% endcomment %}
                <td>{{ data.name_legal_entity }}</td>
                <td>                                    
                    {% comment %} <a class="btn btn-sm btn-warning" href="{% url 'owner_tmts_update' id=data.id %}">Изменить  &raquo;</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'owner_tmts_delete' id=data.id %}">Удалить  &raquo;</a> {% endcomment %}
                </td>  
            </tr>
        </tbody>
    </table>        
</div>

{% endblock body %}